body, html {
    margin: 0;
    color: rgb(0, 0, 0);
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: #f2f2f2;
    transition: 0.3s cubic-bezier(.4,.13,.48,.79) background-color;
}

body {
    overflow: none;
    min-height: 150vh;
}

body.darktheme {
    background-color: #000000;
    color: white;
}

.vcommс {
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;
    background-color: black;
    color: white;
    padding: 8px 12px;
    transition: 0.2s cubic-bezier(.4,.13,.48,.79) background-color, 0.2s cubic-bezier(.4,.13,.48,.79) color;
    border-radius: 10px;
    margin-top: 0px;
    width: 810px;
    margin-bottom: 8px;
}

body.darktheme .vcommс {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.psp {
    margin: 0;
    margin-bottom: 6px;
    margin-top: 6px;
    color: rgba(0, 0, 0, 0.4);
    transition: 0.2s cubic-bezier(.4,.13,.48,.79) background-color, 0.2s cubic-bezier(.4,.13,.48,.79) color;
}

body.darktheme .psp {
    color: rgba(255, 255, 255, 0.4);
}

@media (max-width: 910px) {
    .t2 img {
        width: 92.5%;
    }
    .vcommс {
        width: 90%;
    }
}

@media (max-width: 610px) {
    .t2 img {
        display: none;
    }
    .vcommс {
        width: 80%;
    }
}

.header__blur-layer--1 {
    --blur: 4px;
    mask-image: linear-gradient(to bottom, transparent 0%, transparent 40%, #000 60%, #000 80%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, transparent 0%, transparent 40%, #000 60%, #000 80%, transparent 100%);
}

.header__blur-layer--2 {
    --blur: 6px;
    mask-image: linear-gradient(to bottom, transparent 0%, transparent 20%, #000 40%, #000 60%, transparent 80%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, transparent 0%, transparent 20%, #000 40%, #000 60%, transparent 80%, transparent 100%);
}

.header__blur-layer--3 {
    --blur: 10px;
    mask-image: linear-gradient(to bottom, transparent 0%, #000 20%, #000 40%, transparent 60%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, transparent 0%, #000 20%, #000 40%, transparent 60%, transparent 100%);
}

.header__blur-layer--4 {
    --blur: 18px;
    mask-image: linear-gradient(to bottom, #000 0%, #000 20%, transparent 40%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, #000 0%, #000 20%, transparent 40%, transparent 100%);
}

.header__blur-layer--5 {
    --blur: 34px;
    mask-image: linear-gradient(to bottom, #000 0%, transparent 20%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, #000 0%, transparent 20%, transparent 100%);
}

.header__blur-layer {
    background: transparent;
    backdrop-filter: blur(var(--blur));
    -webkit-backdrop-filter: blur(var(--blur));
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.blur {
    display: flex;
    position: absolute;
    height: 64px;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 99;
}